@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a class="btn btn-outline-light btn-sm" href="https://github.com/burneech" role="button">Visit GitHub</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
