@using BurneechWebToolbox.Services
@using BurneechWebToolbox.Models
@inject IDataService DataService

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Burneech's Web Toolbox</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        @if (_toolboxCategories == null)
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link">
                    <span class="oi oi-cog" aria-hidden="true"></span> Loading...
                </NavLink>
            </li>
        }
        else
        {
            @foreach (var category in _toolboxCategories)
            {
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="@category.CategoryHref">
                        <span class="@category.CategoryIcon" aria-hidden="true"></span> @category.CategoryTitle
                    </NavLink>
                </li>
            }
        }
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private IEnumerable<ToolboxCategory> _toolboxCategories;
    protected override async Task OnInitializedAsync() => _toolboxCategories = await DataService.GetToolboxCategories();
}
