@page "/"

<div class="jumbotron">
    <h1 class="display-4">Welcome to my web-toolbox.</h1>
    <p class="lead">On this page you can find collections of useful (and mostly free) online tools and websites.</p>
    <hr class="my-4">
    <p>For my other projects, you can visit my GitHub page.</p>
    <p class="lead">
        <a class="btn btn-outline-dark btn-lg" href="https://github.com/burneech" role="button">Visit GitHub</a>
    </p>
</div>

<div class="card-group">
    <div class="card">
        <a href="calculators">
            <img class="card-img-top" src="data/calc.jpg" alt="Calculator">
        </a>
        <div class="card-body">
            <h5 class="card-title">Calculators</h5>
            <p class="card-text">Calculators, converters & generators.</p>
        </div>
    </div>
    <div class="card">
        <a href="editors">
            <img class="card-img-top" src="data/edit.jpg" alt="Editing software">
        </a>
        <div class="card-body">
            <h5 class="card-title">Editors</h5>
            <p class="card-text">Different kinds of online editors.</p>
        </div>
    </div>
    <div class="card">
        <a href="media">
            <img class="card-img-top" src="data/image.jpg" alt="Icons">
        </a>
        <div class="card-body">
            <h5 class="card-title">Media</h5>
            <p class="card-text">Images, icons, videos etc.</p>
        </div>
    </div>
</div>

<div class="card-group">
    <div class="card">
        <a href="colors">
            <img class="card-img-top" src="data/color.jpg" alt="Color palette">
        </a>
        <div class="card-body">
            <h5 class="card-title">Colors</h5>
            <p class="card-text">UI colors, palettes, color pickers etc.</p>
        </div>
    </div>
    <div class="card">
        <a href="text">
            <img class="card-img-top" src="data/text.jpg" alt="Words">
        </a>
        <div class="card-body">
            <h5 class="card-title">Text</h5>
            <p class="card-text">Text, characters, dictionaries, encoding, licences...</p>
        </div>
    </div>
    <div class="card">
        <a href="fonts">
            <img class="card-img-top" src="data/font.jpg" alt="Font letters">
        </a>
        <div class="card-body">
            <h5 class="card-title">Fonts</h5>
            <p class="card-text">Well, fonts.</p>
        </div>
    </div>
</div>
