@using BurneechWebToolbox.Services
@using BurneechWebToolbox.Models
@inject IDataService DataService

@if (_toolboxCategories == null)
{
    <p><em>Loading toolbox categories...</em></p>
}
else
{
    <div class="card-deck">
        @foreach (var category in _toolboxCategories)
        {
            <div class="card">
                <a href="@category.CategoryHref">
                    <img class="card-img-top" src="data/@(category.CategoryImage)" alt="@category.CategoryTitle">
                </a>
                <div class="card-body">
                    <h5 class="card-title">@category.CategoryTitle</h5>
                    <p class="card-text">@category.CategorySummary</p>
                </div>
            </div>
        }
    </div>
}

@code {
    private IEnumerable<ToolboxCategory> _toolboxCategories;
    protected override async Task OnInitializedAsync() => _toolboxCategories = await DataService.GetToolboxCategories();
}
